In [1]:
import numpy as np
import pandas as pd

In [2]:
books=pd.read_csv('Books.csv')
ratings=pd.read_csv('Ratings.csv')
users=pd.read_csv('Users.csv')

/var/folders/k5/qnrbq90s7rl08s0jtnd9p5780000gn/T/ipykernel_21502/775865190.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('Books.csv')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings.head(10000)

      User-ID        ISBN  Book-Rating
0      276725  034545104X            0
1      276726  0155061224            5
2      276727  0446520802            0
3      276729  052165615X            3
4      276729  0521795028            6
...       ...         ...          ...
9995      243  0425164403            0
9996      243  0440224764            0
9997      243  0440225701            0
9998      243  0440226430            0
9999      243  0440234743            0

[10000 rows x 3 columns]

In [5]:
users.head(100)

    User-ID                            Location   Age
0         1                  nyc, new york, usa   NaN
1         2           stockton, california, usa  18.0
2         3     moscow, yukon territory, russia   NaN
3         4           porto, v.n.gaia, portugal  17.0
4         5  farnborough, hants, united kingdom   NaN
..      ...                                 ...   ...
95       96           helsinki, alaska, finland   NaN
96       97    mechanicsburg, pennsylvania, usa   NaN
97       98     pukekohe, auckland, new zealand  19.0
98       99            franktown, colorado, usa  42.0
99      100                  madrid, n/a, spain  44.0

[100 rows x 3 columns]

In [6]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [7]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [8]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [9]:
books.isnull()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
271355,False,False,False,False,False,False,False,False
271356,False,False,False,False,False,False,False,False
271357,False,False,False,False,False,False,False,False
271358,False,False,False,False,False,False,False,False
271359,False,False,False,False,False,False,False,False

In [10]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [11]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [12]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [13]:
 books.duplicated().sum()

0

In [14]:
users.duplicated().sum()

0

In [15]:
ratings.duplicated().sum()

0

#POPULARITY BASED Recommendator System

In [16]:
#merging two columns ratings and books

In [17]:
ratings_with_name=ratings.merge(books,on='ISBN')

In [18]:
ratings.shape

(1149780, 3)

In [19]:
#here some rows are not there as we know

In [20]:
ratings_with_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276704,0876044011,0,Edgar Cayce on the Akashic Records: The Book o...,Kevin J. Todeschi,1998,A.R.E. Press (Association of Research &amp; Enlig,http://images.amazon.com/images/P/0876044011.0...,http://images.amazon.com/images/P/0876044011.0...,http://images.amazon.com/images/P/0876044011.0...
1031132,276704,1563526298,9,Get Clark Smart : The Ultimate Guide for the S...,Clark Howard,2000,Longstreet Press,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...
1031133,276706,0679447156,0,Eight Weeks to Optimum Health: A Proven Progra...,Andrew Weil,1997,Alfred A. Knopf,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...
1031134,276709,0515107662,10,The Sherbrooke Bride (Bride Trilogy (Paperback)),Catherine Coulter,1996,Jove Books,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...
1031135,276721,0590442449,10,Fourth Grade Rats,Jerry Spinelli,1996,Scholastic,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...

In [21]:
num_rating_df=ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating': 'num_rating'},inplace=True)
num_rating_df

                                               Book-Title  num_rating
0        A Light in the Storm: The Civil War Diary of ...           4
1                                   Always Have Popsicles           1
2                    Apple Magic (The Collector's series)           1
3        Ask Lily (Young Women of Faith: Lily Series, ...           1
4        Beyond IBM: Leadership Marketing and Finance ...           1
...                                                   ...         ...
241066                                      Ãƒ?Ã‚?lpiraten.           2
241067                     Ãƒ?Ã‚?rger mit Produkt X. Roman.           4
241068                                Ãƒ?Ã‚?sterlich leben.           1
241069                              Ãƒ?Ã‚?stlich der Berge.           3
241070                                  Ãƒ?Ã‚?thique en toc           2

[241071 rows x 2 columns]

In [22]:
pd.to_numeric(ratings_with_name['Book-Rating'], errors='coerce')

0           0
1           5
2           0
3           3
4           6
           ..
1031131     0
1031132     9
1031133     0
1031134    10
1031135    10
Name: Book-Rating, Length: 1031136, dtype: int64

In [23]:
ratings_with_name = ratings_with_name[(ratings_with_name['Book-Rating'] >= 0) & (ratings_with_name['Book-Rating'] <= 10)]

In [24]:
ratings_with_name = ratings_with_name.dropna(subset=['Book-Rating'])

In [25]:
avg_rating_df = ratings_with_name.groupby('Book-Title').mean(numeric_only=True)['Book-Rating'].reset_index()

In [26]:
avg_rating_df.rename(columns={'Book-Rating': 'avg_rating'},inplace=True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ãƒ?Ã‚?lpiraten.    0.000000
241067                     Ãƒ?Ã‚?rger mit Produkt X. Roman.    5.250000
241068                                Ãƒ?Ã‚?sterlich leben.    7.000000
241069                              Ãƒ?Ã‚?stlich der Berge.    2.666667
241070                                  Ãƒ?Ã‚?thique en toc    4.000000

[241071 rows x 2 columns]

In [27]:
popular_df= num_rating_df.merge(avg_rating_df, on='Book-Title')
popular_df

,Book-Title,num_rating,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ãƒ?Ã‚?lpiraten.,2,0.000000
241067,Ãƒ?Ã‚?rger mit Produkt X. Roman.,4,5.250000
241068,Ãƒ?Ã‚?sterlich leben.,1,7.000000
241069,Ãƒ?Ã‚?stlich der Berge.,3,2.666667
241070,Ãƒ?Ã‚?thique en toc,2,4.000000

In [28]:
popular_df[popular_df['num_rating']>=250]

,Book-Title,num_rating,avg_rating
764,1984,284,4.454225
818,1st to Die: A Novel,509,3.575639
1048,2nd Chance,356,3.269663
1760,A Bend in the Road,346,3.364162
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
...,...,...,...
233850,White Oleander : A Novel,387,3.506460
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472
234740,Wicked: The Life and Times of the Wicked Witch...,326,3.766871
234951,Wild Animus,2502,1.019584
240860,"\O\"" Is for Outlaw""",269,2.988848

In [29]:
popular_df=popular_df[popular_df['num_rating']>=100].sort_values('avg_rating' , ascending=False )

In [30]:
popular_df=popular_df.head(50)

In [31]:
popular_df.shape

(50, 3)

In [32]:
popular_df=popular_df.merge(books, on='Book-Title').drop_duplicates('Book-Title')[['Book-Title', 'Book-Author', 'Image-URL-M' , 'num_rating', 'avg_rating']]

In [33]:
popular_df

,Book-Title,Book-Author,Image-URL-M,num_rating,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,The Little Prince,Antoine de Saint-ExupÃƒÂ©ry,http://images.amazon.com/images/P/0156528207.0...,141,5.815603
10,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
14,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
18,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,http://images.amazon.com/images/P/0312853238.0...,249,5.409639
22,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453
25,The Perks of Being a Wallflower,Stephen Chbosky,http://images.amazon.com/images/P/0671027344.0...,104,5.144231
27,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339681.0...,281,5.007117
28,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...,368,4.948370
37,The Giver (21st Century Reference),LOIS LOWRY,http://images.amazon.com/images/P/0440219078.0...,179,4.916201
39,Ishmael: An Adventure of the Mind and Spirit,Daniel Quinn,http://images.amazon.com/images/P/0553375407.0...,162,4.907407
40,Interpreter of Maladies,Jhumpa Lahiri,http://images.amazon.com/images/P/039592720X.0...,136,4.897059
43,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,575,4.895652
45,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339711.0...,260,4.880769
56,Anne Frank: The Diary of a Young Girl,ANNE FRANK,http://images.amazon.com/images/P/0553296981.0...,142,4.852113
60,Charlotte's Web (Trophy Newbery),E. B. White,http://images.amazon.com/images/P/0064400557.0...,129,4.782946
61,The Other Boleyn Girl,Philippa Gregory,http://images.amazon.com/images/P/0743227441.0...,159,4.761006
63,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...,510,4.700000
71,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,898,4.642539
77,Stranger in a Strange Land (Remembering Tomorrow),Robert A. Heinlein,http://images.amazon.com/images/P/0441790348.0...,130,4.615385
78,Dune (Remembering Tomorrow),Frank Herbert,http://images.amazon.com/images/P/0441172717.0...,146,4.609589
79,Fight Club,Chuck Palahniuk,http://images.amazon.com/images/P/0805062971.0...,102,4.607843
83,The Last Juror,John Grisham,http://images.amazon.com/images/P/0385510438.0...,117,4.564103
87,Siddhartha,Hermann Hesse,http://images.amazon.com/images/P/0553208845.0...,172,4.563953
95,The Five People You Meet in Heaven,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...,430,4.551163
97,A Wrinkle In Time,MADELEINE L'ENGLE,http://images.amazon.com/images/P/0440498058.0...,158,4.550633
98,The Catcher in the Rye,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...,449,4.545657
105,The Stand: Complete and Uncut,Stephen King,http://images.amazon.com/images/P/0451169530.0...,131,4.534351
106,Drums of Autumn,DIANA GABALDON,http://images.amazon.com/images/P/044022425X.0...,101,4.514851
110,"The Return of the King (The Lord of the Rings,...",J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339738.0...,211,4.497630
120,Atlas Shrugged,Ayn Rand,http://images.amazon.com/images/P/0451191145.0...,138,4.485507
125,Dragonfly in Amber,DIANA GABALDON,http://images.amazon.com/images/P/0440215625.0...,151,4.476821
128,The Lovely Bones: A Novel,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...,1295,4.468726
129,The Great Gatsby,F. Scott Fitzgerald,http://images.amazon.com/images/P/185326041X.0...,205,4.458537
131,1984,George Orwell,http://images.amazon.com/images/P/0451524934.0...,284,4.454225
140,Prodigal Summer: A Novel,Barbara Kingsolver,http://images.amazon.com/images/P/0060959037.0...,253,4.450593
141,Neverwhere,Neil Gaiman,http://images.amazon.com/images/P/0380789019.0...,265,4.449057
146,East of Eden (Oprah's Book Club),John Steinbeck,http://images.amazon.com/images/P/0142004235.0...,134,4.447761
148,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...,774,4.447028
154,The Shining,Stephen King,http://images.amazon.com/images/P/0743424425.0...,135,4.437037
160,Illusions: The Adventures of a Reluctant Messiah,Richard Bach,http://images.amazon.com/images/P/0440204887.0...,101,4.425743
163,The Phantom Tollbooth,Norton Juster,http://images.amazon.com/images/P/0394820371.0...,125,4.416000
166,84 Charing Cross Road,Helene Hanff,http://images.amazon.com/images/P/0860074382.0...,125,4.416000
169,Guilty Pleasures (Anita Blake Vampire Hunter (...,Laurell K. Hamilton,http://images.amazon.com/images/P/0441304834.0...,129,4.387597
172,Their Eyes Were Watching God: A Novel,Zora Neale Hurston,http://images.amazon.com/images/P/0060916508.0...,100,4.370000
173,The Valley of Horses,JEAN M. AUEL,http://images.amazon.com/images/P/0553250531.0...,132,4.363636
175,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,http://images.amazon.com/images/P/0060392452.0...,283,4.356890
176,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...,493,4.354970
179,On Writing,Stephen King,http://images.amazon.com/images/P/0684853523.0...,137,4.350365

In [34]:
x=ratings_with_name.groupby('User-ID').count()['Book-Rating']>200
edu_users=x[x].index

In [37]:
import numpy as np
import  pandas as pd
\



filtered_rating=ratings_with_name[ratings_with_name['User-ID'].isin(edu_users)]

In [ ]:



this is the ratye of thre free usage of the something and the choice of the data to be transmit through and mission to accomplish th resuilt 
to get the input and